*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}

.converter{
    padding:25px;
    background-color: rgb(209, 237, 152);
    border: 10px double purple;
    box-shadow: 5px 10px 30px purple;
    font-family: "roboto", sans-serif;
    text-align: center;
    border-radius: 20px;
}

.converter .title{
    margin-bottom:25px;
}

.inputField{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

input{
    background-color: aqua;
    font-size:22px;
    text-align: center;
    padding: 15px 0;
    border-radius: none;
    font-weight: 600;
}

#result_box{
    pointer-events: none;
}

span{
    font-size:30px;
}

.converter .unit{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.unit select{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    background-color: aquamarine;
    color: darkred;
}

.btn button{
    border:none;
    padding: 10px 30px;
    font-size:20px;
    font-weight:600;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s;
}

.btn button:hover{
    background-color: rgb(205, 11, 205);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    display: none;
}